<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app> <!-- 添加的部分代码符合xml文档规范，但不符合web-app_2_3.dtd所定义的规范 filter定义完成之后再定义filter-mapping -->
	<display-name>Archetype Created Web Application</display-name>
	<filter>
		<filter-name>FilterTwo</filter-name>
		<display-name>FilterTwo</display-name>
		<filter-class>com.hand.filter.FilterTwo</filter-class>
	</filter>
	<filter>
		<filter-name>FilterOne</filter-name>
		<display-name>FilterOne</display-name>
		<filter-class>com.hand.filter.FilterOne</filter-class>
		<init-param>
			<param-name>Encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>param</param-name>
			<param-value>test</param-value>
		</init-param>
	</filter>
	<filter>
		<filter-name>CheckLoginFilter</filter-name>
		<display-name>CheckLoginFilter</display-name>
		<description></description>
		<filter-class>com.hand.filter.CheckLoginFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>CheckLoginFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>FilterTwo</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<!-- filter-mapping先注册完的先运行  -->
	<filter-mapping>
		<filter-name>FilterOne</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>CheckLoginFilter</filter-name>
		<url-pattern>/CheckLoginFilter</url-pattern>
	</filter-mapping>
	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>com.hand.servlet.LoginServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LoginCheckServlet</servlet-name>
		<servlet-class>com.hand.servlet.LoginCheckServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GetFilmListServlet</servlet-name>
		<servlet-class>com.hand.servlet.GetFilmListServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GetLangServlet</servlet-name>
		<servlet-class>com.hand.servlet.GetLangServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AddFilmServlet</servlet-name>
		<servlet-class>com.hand.servlet.AddFileServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DelFilmServlet</servlet-name>
		<servlet-class>com.hand.servlet.DelFileServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>EditFilmServlet</servlet-name>
		<servlet-class>com.hand.servlet.EditFilmServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>EditServlet</servlet-name>
		<servlet-class>com.hand.servlet.EditServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EditServlet</servlet-name>
		<url-pattern>/EditServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EditFilmServlet</servlet-name>
		<url-pattern>/EditFilmServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DelFilmServlet</servlet-name>
		<url-pattern>/DelFilmServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddFilmServlet</servlet-name>
		<url-pattern>/AddFilmServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetLangServlet</servlet-name>
		<url-pattern>/GetLangServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetFilmListServlet</servlet-name>
		<url-pattern>/GetFilmListServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/loginServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LoginCheckServlet</servlet-name>
		<url-pattern>/LoginCheckServlet</url-pattern>
	</servlet-mapping>
	
</web-app>
